<h1>Users#show_profile</h1>
<p>Find me in app/views/users/show_profile.html.erb</p>
<%= form_with(model: @user, url: update_profile_path, local: true, method: "put") do |form| %>
<% if current_user.avatar.attached? %>
<%= image_tag current_user.avatar, class: "gravatar__profile" %>
<%else%>
<%= image_tag current_user.gravatar_url, class: "gravatar__profile" if user_signed_in?%>
<%end%>
<div class="avatar__field">
		<%= form.file_field :avatar %>
</div>
<div class="name__field">
		<%= form.label :name %><br>
		<%= form.text_field :name, value: @user.name %>
</div>
<%= form.submit 'Edit Profile' %>
<%end%>