<div class="card">
		<div class="card-header">
				<%if User.find(game.host_id)%>
				<% if User.find(game.host_id).avatar.attached?%>
				<%= image_tag main_app.url_for(User.find(game.host_id).avatar), class: "card-img object-cover js-menu-toggle navbar-item" %>
				<%else%>
				<%= image_tag User.find(game.host_id).gravatar_url, class: "card-img object-cover js-menu-toggle navbar-item" if User.find(game.host_id)%>
				<%end%>
				<%end%>
				<h1 class="card-title">
						<%= game.category.game_type %>
				</h1>
				<h2 class="card-subtitle">
						<%= game.title %>
				</h2>
		</div>
		<div class="card-body">
				<p><i class="fas fa-calendar-star text-black icon"></i>
						<%=game.start.strftime("%A, %d %b") if game.start%>
				</p>
				<p><i class="fas fa-clock text-black icon"></i>
						<%= game.start.strftime("%H:%M %P") if game.start %> -
						<%=game.end.strftime("%H:%M %P") if game.end %>
				</p>
				<p><i class="fas fa-compass text-black icon"></i>
						<%= game.venue %>
				</p>
		</div>
		<div class="card-footer flex justify-between">
				<p class="<%=" text-orange-600"if game.users.count < game.players_required %>">
						<%= game.users.count %> /
						<%= pluralize( game.players_required, 'player' ) %>
				</p>
				<%= link_to "Details", game_path(game.id),  class:'btn btn-default btn-sm' %>
		</div>
</div>