<!-- for testing, remove later -->
<%= link_to 'Log in', new_user_session_url %>
<%= link_to 'Sign Up', new_user_registration_url %>
<!-- for testing -->

<section>
  <%= render "home/jumbotron" unless user_signed_in?%>
</section>

<div class="container mx-auto my-6 px-3">

  <h3 class="font-bold font-heading text-lg text-gray-700">Featured</h3>

  <div class="card-container mx-auto h-48 m4 p10">
    <!-- begin card -->
    <div class="card">

      <div class="card-header">
        <img src="https://randomuser.me/api/portraits/women/17.jpg" alt="" class="card-img">
        <h1 class="card-title">Basketball</h1>
        <h2 class="card-subtitle">Quick 5 v 5 full court game</h2>

        <div class="card-body">
          <p><i class="fas fa-calendar-star text-black icon"></i>Thursday, June 27</p>
          <p><i class="fas fa-clock text-black icon"></i>12:00am - 3:00pm</p>
          <p><i class="fas fa-compass text-black icon"></i>Bedok North 12 Basketball Court, Singapore 5033412 </p>
        </div>

        <div class="card-footer flex justify-between">
          <p>7/10 members</p>
          <button class="btn btn-default btn-sm">Details</button>
        </div>

      </div>
    </div>
    <!-- end card -->
  </div>

  <%
  # Function to get category names from category id
  def get_category(category_id)
    for category in @categories
      if category.id == category_id
        return category.game_type
      end
    end
  end
  %>
  <% @games.each do |game| %>
  <div style="border: 1px solid black;">
      <p>
          <%=get_category(game.category_id)%>
      </p>
      <p>
          <%=game.title%>
      </p>
      <p>
          <%=game.start.strftime("%d %b") if game.start%>
      </p>
      <p> Start time:
          <%=game.start.strftime("%H:%M") if game.start%>
      </p>
      <p> End time:
          <%=game.end.strftime("%H:%M") if game.end%>
      </p>
      <p>
          <%=game.venue%>
      </p>
      <p> Players required:
          <%=game.players_required%>
      </p>
      <%= link_to "Details", controller: "games", action: "show", id: game.id %>
  </div>
  <% end %>
  <h3>Categories</h3>
  <% @categories.each do |category| %>
  <div>
      <%= category.game_type %>
  </div>
  <% end %>

</div>

<%= javascript_pack_tag 'home/landing' %>
