<h1>Buddy</h1>

<% if (user_signed_in? == false) %>
	<%= link_to 'Login', new_user_session_url %>
	<%= link_to 'Sign Up', new_user_registration_url %>
<% end %>

<!-- Put in carousel -->
<h3>Games</h3>

<%
# Function to get category names from category id
def get_category(category_id)
	for category in @categories
		if category.id == category_id
			return category.game_type
		end
	end
end
%>

<% @games.each do |game| %>

	<div style="border: 1px solid black;">
		<p> <%=get_category(game.category_id)%> </p>
		<p> <%=game.title%> </p>
		<p> <%=game.start.strftime("%d %b")%> </p>
		<p> Start time: <%=game.start.strftime("%H:%M") if game.start%> </p>
		<p> End time: <%=game.end.strftime("%H:%M") if game.end%> </p>
		<p> <%=game.venue%> </p>
		<p> Players required: <%=game.players_required%> </p>
	</div>

<% end %>


<h3>Categories</h3>

<% @categories.each do |category| %>
	<div><%= category.game_type %></div>
<% end %>