<div class="jumbotron bg-dual-tone-reverse">
		<div class="jumbotron-logo">
				<%= image_tag("master_fav_icon", class:' mx-auto pl-4') %>
		</div>
		<div class="flex flex-col">
				<h2 class="font-bold font-heading text-lg uppercase text-alpha-black">The Missing</h2>
				<h2 class="font-bold font-heading text-5xl uppercase transform -skew-y-6 mb-3">Buddy</h2>
				<h3 class="font-bold font-heading text-base uppercase">For your Favourite Games</h3>
		</div>
		<div>
				<%= link_to "Log In", new_user_session_path, class:"block italic text-5xl font-bold text-shadow-brand mb-4" if !user_signed_in?%>
		</div>
		<div class="jumbotron-action">
				<%= button_to "Sign Up", new_user_registration_path, class:"btn btn-default", method: "get" if !user_signed_in?%>
		</div>
		<div class="jumbotron-action">
				<%= button_to "Sign Out", destroy_user_session_path, class:"btn btn-default", method: "delete" if user_signed_in?%>
		</div>
</div>
<% if (user_signed_in? == false) %>
<%= link_to 'Log in', new_user_session_url %>
<%= link_to 'Sign Up', new_user_registration_url %>
<% end %>
<!-- Put in carousel -->
<h3>Games</h3>
<%
# Function to get category names from category id
def get_category(category_id)
	for category in @categories
		if category.id == category_id
			return category.game_type
		end
	end
end
%>
<% @games.each do |game| %>
<div style="border: 1px solid black;">
		<p>
				<%=get_category(game.category_id)%>
		</p>
		<p>
				<%=game.title%>
		</p>
		<p>
				<%=game.start.strftime("%d %b") if game.start%>
		</p>
		<p> Start time:
				<%=game.start.strftime("%H:%M") if game.start%>
		</p>
		<p> End time:
				<%=game.end.strftime("%H:%M") if game.end%>
		</p>
		<p>
				<%=game.venue%>
		</p>
		<p> Players required:
				<%=game.players_required%>
		</p>
		<%= link_to "Details", controller: "games", action: "show", id: game.id %>
</div>
<% end %>
<h3>Categories</h3>
<% @categories.each do |category| %>
<div>
		<%= category.game_type %>
</div>
<% end %>