<%= form_with(model: request, remote: true) do |form| %>
<% if request.errors.any? %>
<div id="error_explanation">
		<h2>
				<%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
		<ul>
				<% request.errors.full_messages.each do |message| %>
				<li>
						<%= message %>
				</li>
				<% end %>
		</ul>
</div>
<% end %>
<%= form.hidden_field :user_id, value: current_user.id %>
<%= form.hidden_field :game_id, value: @game.id %>
<%= form.hidden_field :status, value: 3 %>
<div class="actions">
		<%= form.submit "Join Game!"%>
</div>
<% end %>