<div class="text-lg">
	<h2>Build your team, hassle-free</h2>
</div>

<%= form_with scope: :game, url: games_path, local: true, class: "container mx-auto" do |form|%>
<% categories_array = @categories.all.map { |category| [category.game_type, category.id] } %>
<%= select(:game, :category_id, options_for_select(categories_array), {}, {class: "w-screen md:w-4/5 lg:w-3/5 h-8 my-2 mx-auto bg-white text-gray-500"})%>

<p class="my-2">
		<%= form.label :title, class: 'text-gray-600' %><br>
		<%= form.text_field :title, class: "w-screen md:w-4/5 lg:w-3/5 h-8" %>
</p>
<p class="my-2">
		<%= form.label :date, class: 'text-gray-600' %><br>
		<%= form.text_field :date, class: "date-flatpick w-screen md:w-4/5 lg:w-3/5 h-8 bg-white"%>
</p>
<p class="inline-block my-2 w-2/5">
		<%= form.label :start_time, class: 'text-gray-600' %><br>
		<%= form.text_field :start_time, class: 'w-full h-8 bg-white timestart-flatpick' %>
</p>
<p class="inline-block my-2 w-2/5">
		<%= form.label :end_time, class: 'text-gray-600' %><br>
		<%= form.text_field :end_time, class: 'w-full h-8 bg-white timeend-flatpick' %>
</p>
<p class="my-2">
		<%= form.label :location, class: 'text-gray-600' %><br>
		<%= form.text_field :location, class: "w-screen md:w-4/5 lg:w-3/5 h-8" %>
</p>
<p class="my-2">
		<%= form.label :players_required, class: 'text-gray-600' %><br>
		<%= form.number_field :players_required, class: "w-screen md:w-4/5 lg:w-3/5 h-8" %>
</p>
<p class="my-2">
		<%= form.label :cost, class: 'text-gray-600' %><br>
		<%= form.text_field :cost, class: "w-screen md:w-4/5 lg:w-3/5 h-8" %>
</p>
<p class="my-2">
		<%= form.label :special_requirements, class: 'text-gray-600' %><br>
		<%= form.text_area :special_requirements, class: "w-screen md:w-4/5 lg:w-3/5 h-24" %>
</p>
<p>
		<%= form.hidden_field :host_id, value: current_user.id %>
</p>
<p>
		<%= form.submit 'Host Game', class: "w-4/5 bg-black hover:bg-gray-800 text-white" %>
</p>
<% end %>
<%= javascript_pack_tag 'game' %>