<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>
<% if @game.host_id != current_user.id && !@rejected_request%>
<div class="game__container">
		<h4 class="game-title__header">Title:
				<%=@game.title%>
		</h4>
		<h4 class="game-venue__header">Venue:
				<%=@game.venue%>
		</h4>
		<h4 class="game-players__header">Players Required:
				<%=@game.players_required%>
		</h4>
		<h4 class="game-cost__header">Cost:
				<%=@game.cost%>
		</h4>
		<h4 class="game-requirements__header">Requirements:
				<%=@game.special_requirements%>
		</h4>
		<h4 class="game-start__header">Start Time:
				<%=@game.start%>
		</h4>
		<h4 class="game-end__header">End Time:
				<%=@game.end%>
		</h4>
		<h4 class="game-host__header">Host:
				<%=@game.host_id%>
		</h4>
		<h4 class="game-category__header">Category:
				<%=@game.category.game_type%>
		</h4>
</div>
<%= render 'requests/form', request: Request.new, game: @game %>
<%elsif @rejected_request%>
<div class="game__container">
		<h4 class="game-title__header">Title:
				<%=@game.title%>
		</h4>
		<h4 class="game-venue__header">Venue:
				<%=@game.venue%>
		</h4>
		<h4 class="game-players__header">Players Required:
				<%=@game.players_required%>
		</h4>
		<h4 class="game-cost__header">Cost:
				<%=@game.cost%>
		</h4>
		<h4 class="game-requirements__header">Requirements:
				<%=@game.special_requirements%>
		</h4>
		<h4 class="game-start__header">Start Time:
				<%=@game.start%>
		</h4>
		<h4 class="game-end__header">End Time:
				<%=@game.end%>
		</h4>
		<h4 class="game-host__header">Host:
				<%=@game.host_id%>
		</h4>
		<h4 class="game-category__header">Category:
				<%=@game.category%>
		</h4>
</div>
<h3 class="request-rejected__header">You have been rejected by the Host :(</h3>
<%else %>
<% @host_requests.each do |request| %>
<div class="request__container">
		<h4 class="request-user__header">
				<%= request.user.email %>
		</h4>
		<%= render 'requests/host_request', request: request, game: @game %>
</div>
<%end%>
<%end%>