<% if @game.host_id != current_user.id && (!@rejected_request && !@pending_request && !@accepted_request) && @game_open%>
<div class="game__container flex flex-col justify-around items-center p-2 font-body">
		<h4 class="game-title__header text-2xl uppercase tracking-widest mb-2 p- text-center w-full font-bold font-heading">
				<%=@game.title%>
		</h4>
		<div class="game-what__container flex flex-col justify-around items-center w-3/5 p-3 border-b ">
				<%=image_tag("category_images/" +
		                @game.category.game_type.parameterize(separator: '_') +
		                '.png', class: "max-w-xs object-contain")%>
				<h4 class="game-category__header mb-2 text-xl mb-4">
						<%=@game.category.game_type%>
				</h4>
				<h4 class="game-players__header mb-2">Participants Required:
						<%=@game.players_required%>
				</h4>
				<h4 class="game-cost__header mb-2">Cost:
						<%=@game.cost%>
				</h4>
				<h4 class="game-requirements__header mb-2">Requirements:
						<%=@game.special_requirements%>
				</h4>
		</div>
		<div class="game-where__container flex flex-col justify-around items-center p-3 border-b w-3/5">
				<h4 class="game-where__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHERE?
				</h4>
				<h4 class="game-venue__header mb-2">
						<%=@game.venue%>
				</h4>
		</div>
		<div class="game-where__container flex flex-col justify-around items-center w-3/5 p-3 border-b">
				<h4 class="game-when__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHEN? </h4>
				<h4 class="game-date__header mb-1">Date:
						<%=@game.start.strftime("%d %b %y") if @game.start%>
				</h4>
				<h4 class="game-start__header mb-1">Starts at:
						<%=@game.start.strftime("%H:%M%P") if @game.start %>
				</h4>
				<h4 class="game-end__header mb-2">Ends:
						<%=@game.end.strftime("%H:%M%P") if @game.end %>
				</h4>
		</div>
		<div class="game-who__container flex flex-col justify-around w-3/5 p-3 border-b">
				<h4 class="game-who__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHO? </h4>
				<div class="participants__container flex flex-col justify-around items-center">
						<div class="participants__host-container flex flex-col p-2 justify-around items-center mb-2">
								<h3 class="host__participants-header text-md underline">Host</h3>
								<h4 class="game-host py-1 pb-4">
										<%=User.find(@game.host_id).email%>
								</h4>
						</div>
						<div class="participants__participants-container flex flex-col p-2 justify-around items-center mb-2">
								<h3 class="request-accepted__participants-header text-md underline ">Participants</h3>
								<%@game.users.each do |user|%>
								<h4 class="game-user-email py-1">
										<%=user.email%>
								</h4>
								<%end%>
						</div>
				</div>
		</div>
</div>
<%= render 'requests/form', request: Request.new, game: @game %>
<%elsif@game.host_id == current_user.id %>
<div class="game__container flex flex-col justify-around items-center p-2 font-body">
		<h4 class="game-title__header text-2xl uppercase tracking-widest mb-2 p- text-center w-full font-bold font-heading">
				<%=@game.title%>
		</h4>
		<div class="host-requests__container flex flex-col justify-around items-center w-3/5 border-t-2 border-b-2 border-yellow-400 py-6">
				<h3 class="game__header text-center w-full text-gray-700 text-sm p-2 italic font-body">Hey
						<%=current_user.name%>, you are the Host!</h3>
				<% if @host_requests.any?%>
				<h3 class="host-requests__header font-heading mb-1 mt-4">Pending Requests</h3>
				<%end%>
				<% @host_requests.each do |request| %>
				<div class="request__container">
						<h4 class="request-user__header text-center pb-2">
								<%= request.user.email %>
						</h4>
						<%= render 'requests/host_request', request: request, game: @game %>
				</div>
				<%end%>
		</div>
		<div class="game-what__container flex flex-col justify-around items-center w-3/5 p-3 border-b font-body">
				<%=image_tag("category_images/" +
                @game.category.game_type.parameterize(separator: '_') +
                '.png', class: "max-w-xs object-contain")%>
				<h4 class="game-category__header mb-2 text-xl mb-4 font-heading">
						<%=@game.category.game_type%>
				</h4>
				<h4 class="game-players__header mb-2 font-body">Participants Required:
						<%=@game.players_required%>
				</h4>
				<h4 class="game-cost__header mb-2">Cost:
						<%=@game.cost%>
				</h4>
				<h4 class="game-requirements__header mb-2">Requirements:
						<%=@game.special_requirements%>
				</h4>
		</div>
		<div class="game-where__container flex flex-col justify-around items-center p-3 border-b w-3/5">
				<h4 class="game-where__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHERE?
				</h4>
				<h4 class="game-venue__header mb-2">
						<%=@game.venue%>
				</h4>
		</div>
		<div class="game-when__container flex flex-col justify-around items-center w-3/5 p-3 border-b">
				<h4 class="game-when__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHEN? </h4>
				<h4 class="game-date__header mb-1">Date:
						<%=@game.start.strftime("%d %b %y") if @game.start%>
				</h4>
				<h4 class="game-start__header mb-1">Starts at:
						<%=@game.start.strftime("%H:%M%P") if @game.start %>
				</h4>
				<h4 class="game-end__header mb-2">Ends:
						<%=@game.end.strftime("%H:%M%P") if @game.end %>
				</h4>
		</div>
		<div class="game-who__container flex flex-col justify-around w-3/5 p-3 border-b">
				<h4 class="game-who__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHO? </h4>
				<div class="participants__container flex flex-col justify-around items-center">
						<h3 class="request-accepted__participants-header text-md underline mb-1">Participants</h3>
						<%@game.users.each do |user|%>
						<h4 class="game-user-email">
								<%=user.email%>
						</h4>
						<div class="kick-user__link flex justify-center items-center w-full pt-1">
								<%= link_to "Kick #{user.name.downcase.capitalize}", remove_games_users_path(:user_id => user.id), id: @game.id, method: :delete, data: { confirm: 'Are you sure?' }%>
						</div>
						<%end%>
				</div>
		</div>
		<div class="game-edit-delete__links-container flex justify-around w-3/4 py-4">
				<%=link_to "Edit", controller: "games", action: "edit", id: @game.id, class: "" %>
				<%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?', class: "" } %>
		</div>
</div>
<%elsif @rejected_request || @pending_request || @accepted_request || !@game_open%>
<div class="game__container flex flex-col justify-around items-center p-2 font-body">
		<h4 class="game-title__header text-2xl uppercase tracking-widest mb-2 p- text-center w-full font-bold font-heading">
				<%=@game.title%>
		</h4>
		<div class="host-requests__container flex flex-col justify-around items-center w-3/5 border-t-2 border-b-2 border-yellow-400 py-6">
				<h3 class="game__header text-center w-full text-gray-700 text-sm p-2 italic font-body ">Hey
						<%=current_user.name.to_s.downcase.capitalize%>
				</h3>
				<%if !@game_open && !@accepted_request && !@rejected_request && !@pending_request%>
				<h3 class="request-rejected__header text-center w-full text-gray-700 text-sm p-2 italic font-body">This Game is full at the moment :(</h3>
				<%elsif @rejected_request%>
				<h3 class="request-rejected__header text-center w-full text-gray-700 text-sm p-2 italic font-body">You have been rejected by the Host :(</h3>
				<%elsif @pending_request%>
				<h3 class="request-pending__header text-center w-full text-gray-700 text-sm p-2 italic font-body">Your request is pending</h3>
				<div class="withdraw-request__container flex flex-col justify-center items-center w-full mt-2">
						<%= link_to 'Withdraw Request', destroy_request_path(@pending_request), method: :delete, data: { confirm: 'Are you sure?' }%>
				</div>
				<%elsif @accepted_request%>
				<h3 class="request-accepted__header text-center w-full text-gray-700 text-sm p-2 italic font-body">Your request has been accepted by the Host!</h3>
				<div class="leave-game__container flex flex-col justify-center items-center w-full mt-2">
						<%= link_to 'Leave Game', remove_games_users_path(:user_id => current_user.id), id: @game.id, method: :delete, data: { confirm: 'Are you sure?'}, class: "mt-4"%>
				</div>
				<%end%>
		</div>
		<div class="game-what__container flex flex-col justify-around items-center w-3/5 p-3 border-b ">
				<%=image_tag("category_images/" +
		                @game.category.game_type.parameterize(separator: '_') +
		                '.png', class: "max-w-xs object-contain")%>
				<h4 class="game-category__header mb-2 text-xl mb-4 font-heading">
						<%=@game.category.game_type%>
				</h4>
				<h4 class="game-players__header mb-2">Participants Required:
						<%=@game.players_required%>
				</h4>
				<h4 class="game-cost__header mb-2">Cost:
						<%=@game.cost%>
				</h4>
				<h4 class="game-requirements__header mb-2">Requirements:
						<%=@game.special_requirements%>
				</h4>
		</div>
		<div class="game-where__container flex flex-col justify-around items-center p-3 border-b w-3/5">
				<h4 class="game-where__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHERE?
				</h4>
				<h4 class="game-venue__header mb-2">
						<%=@game.venue%>
				</h4>
		</div>
		<div class="game-where__container flex flex-col justify-around items-center w-3/5 p-3 border-b">
				<h4 class="game-when__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHEN? </h4>
				<h4 class="game-date__header mb-1">Date:
						<%=@game.start.strftime("%d %b %y") if @game.start%>
				</h4>
				<h4 class="game-start__header mb-1">Starts at:
						<%=@game.start.strftime("%H:%M%P") if @game.start %>
				</h4>
				<h4 class="game-end__header mb-2">Ends:
						<%=@game.end.strftime("%H:%M%P") if @game.end %>
				</h4>
		</div>
		<div class="game-who__container flex flex-col justify-around w-3/5 p-3 border-b">
				<h4 class="game-who__header w-full text-center text-lg text-orange-600 tracking-wider mb-2 font-heading">
						WHO? </h4>
				<div class="participants__container flex flex-col justify-around items-center">
						<div class="participants__host-container flex flex-col p-2 justify-around items-center mb-2">
								<h3 class="host__participants-header text-md underline">Host</h3>
								<h4 class="game-host py-1 pb-4">
										<%=User.find(@game.host_id).email%>
								</h4>
						</div>
						<div class="participants__participants-container flex flex-col p-2 justify-around items-center mb-2">
								<h3 class="request-accepted__participants-header text-md underline ">Participants</h3>
								<%@game.users.each do |user|%>
								<h4 class="game-user-email py-1">
										<%=user.email%>
								</h4>
								<%end%>
						</div>
				</div>
		</div>
</div>
<%end%>
<%# Render link to Chat Room if current_user is participant/host%>
<% if @user_in_game || current_user.id == @game.host_id%>
<div class="chat-room-link__container w-full flex justify-center mb-4 text-xl">
		<%=link_to "Chat Room", controller: "rooms", action: "show", id: @room.id, class: "chat-room__link"%>
</div>
<%end%>