<div class="room__container flex flex-col sm:flex-row justify-around items-around" data-user-id=<%=@current_user.id %> data-room-id=
		<%=@room.id %>>
		<div class="room__sidebar flex-none sm:w-64 sm:min-h-screen border-r-2 block bg-gray-100">
				<div class="room__back-link w-full flex justify-center py-4 text-xl">
						<%= link_to "Back", controller: "games", action: "show", id: @game.id %>
				</div>
				<div class="room-participants__container px-4 mb-2 flex flex-col justify-between items-center">
						<div class="room-host__header-container flex flex-col justify-around items-center rounded-md bg-orange-300 w-full mb-4 shadow-md">
								<div class="room-participants__header py-1 px-4font-bold text-gray-800">
										Host:
								</div>
								<div class="room-participants__user py-1 px-4 m-2 text-gray-700 <%='opacity-50' if !@host.online%>" data-user-id="<%=@host.id %>">
										<%=@host.email%>
								</div>
						</div>
						<div class="room-participants__header-container flex flex-col justify-around items-center rounded-md bg-gray-300 w-full shadow-md">
								<div class="room-participants__header py-1 px-4 font-bold text-gray-800">
										Participants:
								</div>
								<%@users.each do |user|%>
								<div class="room-participants__user py-1 px-4 m-2 text-gray-700 <%='opacity-50' if !user.online%>" data-user-id="<%=user.id %>">
										<%=user.email%>
								</div>
								<%end%>
						</div>
				</div>
		</div>
		<div class="room-message__container flex-1 px-6 py-4 overflow-y-scroll max-h-screen">
				<h1 class="room-game__title font-bold uppercase tracking-widest text-center p-4 text-sm sm:text-xl border-2 border-orange-500 mb-4 rounded-md text-gray-700 shadow-md">
						<%= @game.title%>
				</h1>
				<% @room.messages.each do |message|%>
				<%if message.user_id == current_user.id%>
				<%= render 'messages/message', message: message, user_id: @user_id%>
				<%else%>
				<%= render 'messages/other-message', message: message, user_id: @user_id%>
				<% end %>
				<%end %>
		</div>
		<%= render 'messages/form', message: Message.new, room: @room %>
</div>