<%
	def get_category(category_id)
		for category in @categories
			if category.id == category_id
				return category.game_type
			end
		end
	end
%>
<%= will_paginate @games, class: "mb-2 text-xl md:text-lg" %>
<% @games.each do |game| %>
<!-- card will adjust to fit the dimension of its container -->
<div class="card gallery-item gallery-item_short gallery-item_wide gallery-item_left_aligned">
  <h1 class="card-title">
    <%=get_category(game.category_id)%>
  </h1>
  <h2 class="card-subtitle">
    <%=game.title%>
  </h2>
  <div class="card-body">
    <p>
      <i class="fas fa-calendar text-black icon"></i>
      <%=game.start.strftime("%d %b") if game.start%>
    </p>
    <p>
      <i class="fas fa-clock text-black icon"></i>
      Start time:
      <%=game.start.strftime("%H:%M") if game.start%>
    </p>
    <p> <i class="fas fa-clock text-black icon"></i> End time:
      <%=game.end.strftime("%H:%M") if game.end%>
    </p>
    <p>
      <i class="fas fa-compass text-black icon"></i>
      <%=game.venue%>
    </p>
  </div>
  <div class="card-footer flex justify-between">
    <p> Players required:
      <%=game.players_required%>
    </p>
    <%= link_to "Details", game_path(game.id),  class:'btn btn-default btn-sm' %>
    <%
=begin%>
 <%= link_to "Details", controller: "games", action: "show", id: game.id, class: "btn btn-default btn-sm" %> 
<%
=end%>
  </div>
</div>
<% end %>
<%= will_paginate @games, class: "text-xl md:text-lg" %>