<%
	def get_category(category_id)
		for category in @categories
			if category.id == category_id
				return category.game_type
			end
		end
	end
%>

<% @games.each do |game| %>
	<div style="border: 1px solid black" class="game-card">
		<p>
				<%=get_category(game.category_id)%>
		</p>
		<p>
				<%=game.title%>
		</p>
		<p>
				<%=game.start.strftime("%d %b") if game.start%>
		</p>
		<p> Start time:
				<%=game.start.strftime("%H:%M") if game.start%>
		</p>
		<p> End time:
				<%=game.end.strftime("%H:%M") if game.end%>
		</p>
		<p>
				<%=game.venue%>
		</p>
		<p> Players required:
				<%=game.players_required%>
		</p>

		<%= link_to "Details", controller: "games", action: "show", id: game.id %>
	</div>
<% end %>