<!-- Search bar. Confirm whether search is for any field or for a specific field -->

<p>Sort By:</p>

<%= form_with url: categories_sort_url, method: "get" do |form| %>
  <%= form.label :date %><br>
	<%= form.text_field :date, class: 'sortdate-flatpick' %>

	<% categories_array = @categories.all.map { |category| [category.game_type, category.id] } %>
	<%= select(:category, :category_id, options_for_select(categories_array), :include_blank => true)%>

	<%= form.submit 'Find Game' %>
<% end %>

<%
	def get_category(category_id)
		for category in @categories
			if category.id == category_id
				return category.game_type
			end
		end
	end
%>

<div class="game-cards-container">
	<%= render 'categories/card' %>
</div>


<%= javascript_pack_tag 'category' %>