<%if links && user_signed_in?%>

  <nav class="navbar">

    <div class="navbar-logo">
      <%= link_to main_app.root_path do %>
      <%= image_tag("master_fav_icon.png") %>
      <% end %>
    </div>

    <div class="navbar-items">
      <%= link_to  "Explore", main_app.categories_path, class: "navbar-item navbar-text_primary" %>
    </div>

    <div class="navbar-items right">
      <%= link_to  "Host New Game", main_app.new_game_path, class: "navbar-item navbar-text_secondary" %>

      <%if user_signed_in?%>
       <% if current_user.avatar.attached?%>
         <%= image_tag main_app.url_for(current_user.avatar), class: "navbar-menu-icon object-cover js-menu-toggle" %>
        <%else%>
          <%= image_tag current_user.gravatar_url, class: "navbar-menu-icon object-cover js-menu-toggle" if user_signed_in?%>
        <%end%>
      <%end%>

      <div class="navbar-menu z-10 bg-white" id="navbar-menu">
        <div class="navbar-menu-items">
          <a href="/dashboard">Dashboard</a>
          <%= link_to pluralize(Notification.unread_count(current_user), 'New Notification'), notifications_path, class: "notifications__link" if user_signed_in?%>
          <a href="/profile">Profile</a>
          <%= link_to('Logout', main_app.destroy_user_session_path, method: "delete") %>
        </div>
      </div>

    </div>
  </nav>

<%end%>