<%if links%>
<nav class="navbar">
		<div class="navbar-logo">
				<%= link_to root_path do %>
				<%= image_tag("master_fav_icon.png") %>
				<% end %>
		</div>
		<div class="navbar-items">
				<%= link_to  "Explore", categories_path, class: "navbar-item navbar-text_primary" %>
		</div>
		<div class="navbar-items right">
				<%= link_to  "Host New Game", new_game_path, class: "navbar-item navbar-text_secondary" %>
				<img src="https://randomuser.me/api/portraits/women/17.jpg" alt="" class="navbar-menu-icon">
				<div class="navbar-menu z-10 bg-white">
						<div class="navbar-menu-items">
								<a href="/dashboard">Dashboard</a>
								<%= link_to pluralize(Notification.unread_count(current_user), 'New Notification'), notifications_path, class: "notifications__link" if user_signed_in?%>
								<a href="/profile">Profile</a>
								<%= link_to('Logout', destroy_user_session_path, method: "delete") %>
						</div>
				</div>
		</div>
		<br />
		<!-- >
    <%links.each do |link| %>
      <%= link_to link[:name], link[:path]%>
    <%end%>
    <!-->
</nav>
<%end%>