<!DOCTYPE html>
<html>

<head>
		<title>Bobby</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'application/favicon' %>
		<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Titillium+Web:wght@400;600;700' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body data-user-id=<%=current_user.id if user_signed_in?%>>
		<header>
				<%= render partial: "layouts/navbar", locals: {links: @links} %>
				<%= render partial: "layouts/notification_message" if user_signed_in?%>
				<!-- 				<div class="notifications__link-container">
						<%= link_to pluralize(Notification.unread_count(current_user), 'New Notification'), notifications_path, class: "notifications__link" if user_signed_in?%>
				</div> -->
				<%= render 'layouts/messages' %>
		</header>
		<main role="main">
				<%= yield %>
		</main>
		<%= yield :js_scripts %>
</body>

</html>